/* ------------- !!! LANGUAGE CONTROLS !!! ----------------- */

@media (max-width: 991px) {
  .lang_switcher {
    margin: auto; /* to center its items */
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.7rem;
  }
}

@media (min-width: 992px) {
  .lang_switcher {
    margin-left: 50px;
  }
}

.lang {
  background: none;
  border: none;
  /* add !important to completely remove the selection border */
  outline: none !important;
  /* fixes issues with empty space under the images */
  vertical-align: top;
  font-size: 0;
}

.lang_image {
  margin-top: -1px;
  height: 28px;
  -webkit-filter: drop-shadow(1px 1px 1px #222);
  filter: drop-shadow(1px 1px 1px #222);
}

/* ------------- !!! MISCELLANEOUS !!! ----------------- */

.more-button-text {
  color: #495057 !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}

/* fixes issue with first navitem being too close to the logo on mobile devices */
@media (max-width: 768px) {
  .navbar-first-button {
    margin-top: 15px;
  }
}

.logo-agc {
  height: 30px;
}
