/*================
 Template Name: CorporX Corporate and Business HTML Template
 Description: All type of corporate business with marketing and agency template.
 Version: 1.0
 Author: https://themeforest.net/user/themetags
=======================*/

/*TABLE OF CONTENTS*/
/*=====================
01. RESET CSS
02. BASE TYPOGRAPHY
03. PRE DEFINE CLASS CSS
04. HEADER CSS
05. HERO SECTION CSS
06. CEO MESSAGE SECTION CSS
07. FEATURE SECTION CSS
08. PROGRESSBAR CSS
09. CORE IDEA CSS
10. MAIN SERVICES CSS
11. PORTFOLIO CSS
12. BLOG SECTION CSS
13. WORK PROCESS CSS
14. COUNTER SECTION CSS
15. TABS SECTION CSS
16. TEAM SECTION CSS
17. VIDEO PROMO CSS
18. PROMO BLOCK WITH HOVER BG IMAGE
19. TESTIMONIAL CSS
20. SUBSCRIBE FORM CSS
21. ACCORDION FAQ CSS
22. CONTENT BOX CSS
23. PRICING CSS
24. SINGLE PAGE HEADER CSS
25. CONTACT US CSS
26. FOOTER CSS
27. PRELOADER CSS
28. BLOG PAGE CSS
29. BACK TO TOP CSS
=======================*/

/* -----------------------------------------
			   01. RESET CSS
-------------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth; /* Makes all links to anchors scroll to them with a smooth animation */
  overflow-y: scroll;
  font-size: 15px;
}

/* -----------------------------------------
           02. BASE TYPOGRAPHY
-------------------------------------------- */

body,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
.navbar,
.brand,
.btn,
.btn-simple,
a,
.td-name,
td {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #707070;
  font-weight: 400;
  line-height: 1.75;
}

p:not(:last-child) {
  margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 1.21;
  color: initial;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}

strong,
b {
  font-weight: 600 !important;
  font-family: 'Montserrat', sans-serif;
}

.badge {
  display: inline;
  padding: 0.2rem 0.5rem;
  line-height: inherit;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 77%;
}

.badge-pill {
  padding-right: 0.875em;
  padding-left: 0.875em;
  border-radius: 50rem;
}

.custom-radius {
  border-radius: 15px;
}

/*========================================
        03. PRE DEFINE CLASS CSS
==========================================*/
.ptb-100 {
  padding: 100px 0;
}

.pt-100 {
  padding-top: 100px;
}

.pt-165 {
  padding-top: 165px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt--165 {
  margin-top: -165px !important;
}

.gray-light-bg {
  background: #f6f6f6;
}

.primary-bg {
  background: #1a2c79;
}

.secondary-bg {
  background: #e80566;
}

.color-primary {
  color: #1a2c79;
}

.color-secondary {
  color: #e80566;
}

.gradient-bg {
  background: linear-gradient(75deg, #1a2c79 10%, #e80566) !important;
}

.white-bg {
  background: #ffffff;
}

a {
  color: #1a2c79;
}

a:hover {
  color: #e80566;
  text-decoration: none;
}

.color-1 {
  color: #ff164e;
}

.color-1-bg {
  background: rgba(255, 22, 78, 0.15);
}

.color-2 {
  color: #e80566;
}

.color-2-bg {
  background: rgba(145, 35, 255, 0.15);
}

.color-3 {
  color: #1a2c79;
}

.color-3-bg {
  background: rgba(0, 115, 236, 0.15);
}

.color-4,
.ratting-color {
  color: #ff7c3f;
}

.color-4-bg {
  background: rgba(255, 124, 63, 0.15);
}

.color-5,
.success-color {
  color: #2ebf6d;
}

.color-5-bg {
  background: rgba(46, 191, 109, 0.15);
}

.color-6 {
  color: #f25c7f;
}

.color-6-bg {
  background: rgba(242, 92, 127, 0.15);
}

.animated-btn {
  transition: all 0.25s ease-in-out;
}

.animated-btn:hover {
  transform: translate(0, -3px);
  -webkit-transform: translate(0, -3px);
}

.outline-btn,
.secondary-solid-btn,
.primary-solid-btn,
.solid-white-btn,
.outline-white-btn,
.secondary-outline-btn {
  padding: 12px 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 13px;
  transition: all 0.25s ease-in-out;
}

.primary-solid-btn {
  border: 1px solid #1a2c79;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to bottom, #1a2c79, #0e206d);
  color: #ffffff;
}

.primary-solid-btn:hover {
  background: transparent;
  color: #1a2c79;
}

.secondary-solid-btn {
  color: #fff;
  background: #e80566;
  border: 1px solid #e80566;
}

.secondary-solid-btn:hover {
  background: transparent;
  color: #e80566;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.secondary-outline-btn {
  color: #e80566;
  display: inline-block;
  border: 1px solid #e80566;
}
.secondary-outline-btn:hover {
  background: #e80566;
  color: #ffffff;
}
.outline-btn {
  position: relative;
  display: inline-block;
  color: #1a2c79;
  border: 1px solid #1a2c79;
}
.outline-btn:after {
  content: ' ';
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  z-index: -1;
  border-radius: 4px;
  opacity: 0;
  transition: 400ms;
  text-shadow: 0 0.5px 0.3px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom, #1a2c79, #0e206d);
}

.outline-btn:hover:after {
  opacity: 1;
}
.outline-btn:hover {
  color: #ffffff;
  background-image: linear-gradient(to bottom, #1a2c79, #0e206d);
}
.primary-bg h1,
.primary-bg p {
  color: #fff;
}

.solid-white-btn {
  background: #ffffff;
  border-color: #ffffff;
  color: #1a2c79;
}

.solid-white-btn:hover {
  background: transparent;
  color: #ffffff;
}

.outline-white-btn {
  color: #ffffff;
  border-color: #ffffff;
}

.outline-white-btn:hover {
  background: #ffffff;
  color: #1a2c79;
}

/*icon size*/
.icon-sm {
  font-size: 25px;
  line-height: 25px;
}

.icon-md {
  font-size: 40px;
  line-height: 40px;
}

.icon-lg {
  font-size: 50px;
  line-height: 50px;
}

/*form field css*/
.form-control {
  border-color: #ebebeb;
  padding: 0.75rem 0.85rem;
  height: calc(2.56em + 0.75rem + 2px);
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}

input[type]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder,
select.form-control.has-value {
  color: #b1b1b1 !important;
  font-size: 13px;
}

input[type]:-moz-placeholder,
textarea:-moz-placeholder,
select:-moz-placeholder,
select.form-control.has-value {
  /* Firefox 18- */
  color: #b1b1b1;
  font-size: 13px;
}

input[type]::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder,
select.form-control.has-value {
  /* Firefox 19+ */
  color: #b1b1b1;
  font-size: 13px;
}

input[type]:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder,
select.form-control.has-value {
  color: #b1b1b1;
  font-size: 13px;
}
select.form-control.has-value {
  height: 52px;
}
.section-heading h2 span {
  font-weight: 400;
  font-size: 2rem;
}

.z-index {
  z-index: 9;
}

.height-lg-100vh {
  min-height: 100vh;
}
@media (max-width: 576px) {
  .height-lg-100vh {
    height: auto;
  }
}
.custom-badge {
  top: 5%;
  right: 8%;
}
.image-wrap img {
  display: block;
}

/*app download btn*/

.app-download-list li a {
  padding: 10px 22px;
  color: inherit;
  font-size: 13px;
  line-height: 15px;
}
.download-text span {
  font-size: 13px;
}
.download-text h5 {
  font-size: 15px;
  color: inherit;
}
.app-download-list li a:hover {
  background: #1a2c79;
  color: #ffffff;
  border-color: #1a2c79 !important;
}
/*=========================================
            04. HEADER CSS
============================================*/
.affix {
  background-color: #1a2c79;
  -webkit-transition: padding 0.4s ease-out;
  -moz-transition: padding 0.4s ease-out;
  -o-transition: padding 0.4s ease-out;
  transition: padding 0.4s ease-out;
}

/*header topbar*/
.topbar-text ul li {
  font-size: 13px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
.topbar-text ul li:not(:last-child) {
  margin-right: 20px;
}
.topbar-text ul li strong {
  font-size: 14px;
  vertical-align: middle;
}
.topbar-text ul li a {
  display: inline-flex;
  align-items: center;
  color: inherit;
}

.topbar-text ul li a:hover {
  color: #e80566;
}

.gradient-bg .topbar-text ul li,
.gradient-bg .topbar-text ul li a {
  color: #ffffff;
  opacity: 0.8;
}

.gradient-bg .topbar-text ul li a:hover {
  opacity: 1;
}

.topbar-text ul li span {
  vertical-align: middle;
}

.white-bg.affix,
.custom-nav.affix {
  background: #ffffff;
  border-bottom: 1px solid #ebebeb;
}

.fixed-top {
  top: auto;
}
.fixed-top.affix {
  top: 0;
}
.white-bg.custom-nav ul li a:hover {
  opacity: 1;
}
.bg-transparent ul li a {
  color: #ffffff;
  opacity: 0.7;
}
.bg-transparent ul li a:hover,
.white-bg.affix ul li a:hover {
  opacity: 1;
}

.bg-transparent.affix {
  background: linear-gradient(75deg, #1a2c79 10%, #e80566) !important;
}

.navbar-toggler {
  color: #ffffff;
}
/*main menu new style*/
.header nav.navbar {
  padding: 0.3rem 1rem;
  transition: all 0.3s ease-in-out;
}
.header nav.navbar.affix {
  padding: 0 1rem;
}
.navbar-brand {
  font-size: inherit;
  height: auto;
  margin-bottom: -8px;
}

.menu {
  display: block;
}

.menu li {
  display: inline-block;
  position: relative;
}

.menu li:first-child {
  margin-left: 0;
}

.menu li a {
  font-size: 13px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  padding: 20px 15px;
  display: block;
  transition: all 0.3s ease-in-out 0s;
  color: #353535;
  opacity: 0.8;
}
.white-bg > .menu li a {
  color: #081d43 !important;
}
.menu li a:hover,
.menu li:hover > a {
  opacity: 1;
}

.menu ul {
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
  width: 200px;
  position: absolute;
  left: 0;
  background: #fff;
  z-index: 9;
  border-radius: 4px;
  transform: translate(0, 20px);
  transition: all 0.3s ease-out;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.menu ul:after {
  bottom: 100%;
  left: 35px;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border: solid transparent;
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}
.menu li a.dropdown-toggle::after {
  position: relative;
  left: 2px;
  vertical-align: middle;
}

.menu ul li {
  display: block;
  float: none;
  background: none;
  margin: 0;
  padding: 0;
}

.menu ul li a {
  text-transform: inherit;
  font-weight: normal;
  display: block;
  color: #424141;
  padding: 8px 15px;
  font-family: 'Montserrat', sans-serif;
}
.menu ul li a:hover,
.menu ul li:hover > a {
  color: #ffffff;
  background: #1a2c79;
}

.menu ul.sub-menu li:first-child a:hover,
.menu ul.sub-menu li:last-child ul li:first-child a:hover {
  border-radius: 4px 4px 0 0;
}
.menu ul.sub-menu li:last-child a:hover,
.menu ul.sub-menu li:last-child ul li:last-child a:hover {
  border-radius: 0 0 4px 4px;
}
.menu ul.sub-menu li:last-child ul li a:hover {
  border-radius: 0;
}

.menu li:hover > ul {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}

.menu ul ul {
  left: 200px;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transform: translate(20px, 20px);
  transition: all 0.2s ease-out;
}

.menu ul.sub-menu ul:after {
  left: -8px;
  top: 10px;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border: solid transparent;
  border-right-color: #fff;
  border-width: 8px;
}

.menu li > ul ul:hover {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}
.responsive-menu {
  display: none;
  width: 100%;
  padding: 20px 15px;
  background: #374147;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.responsive-menu:hover {
  background: #374147;
  color: #fff;
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 992px) {
  .navbar {
    background: linear-gradient(75deg, #1a2c79 10%, #e80566) !important;
    padding: 0.45rem 1rem !important;
  }
  .menu li {
    display: block;
  }

  /* Adds padding between the menu items and the agc logo on mobile screens */
  .menu {
    padding-top: 10px;
  }

  .white-bg.affix,
  .custom-nav.affix,
  .navbar.white-bg {
    background: #ffffff !important;
    border-bottom: 1px solid #ebebeb;
  }

  .white-bg.custom-nav ul li a,
  .custom-nav ul li a {
    color: #081d43 !important;
  }

  .white-bg.navbar .navbar-toggler span {
    color: #1a2c79;
  }

  .ptb-100 {
    padding: 55px 0;
  }

  .pt-100 {
    padding-top: 55px;
  }

  .pb-100 {
    padding-bottom: 55px;
  }
  .pt-165 {
    padding-top: 100px;
  }
  .mt--165 {
    margin-top: 0 !important;
  }
  .hero-equal-height {
    min-height: auto !important;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .mainWrap {
    width: 768px;
  }

  .menu ul {
    top: 37px;
  }

  .menu li a {
    padding: 8px 15px;
  }

  a.homer {
    background: #374147;
  }
}

@media (max-width: 767px) {
  .responsive-menu {
    display: block;
  }
  .header nav.navbar {
    padding: 0.5rem 1rem;
  }
  .mainWrap {
    width: auto;
    padding: 50px 20px;
  }

  nav {
    margin: 0;
    background: none;
  }

  .menu li {
    display: block;
    margin: 0;
  }

  .menu li a {
    padding: 8px 15px;
  }

  .menu li a:hover,
  .menu li:hover > a {
    background: #1a2c79;
    color: #fff;
  }

  .menu ul {
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    transform: initial;
  }

  .menu li:hover > ul {
    visibility: visible;
    opacity: 1;
    position: relative;
    transform: initial;
  }

  .menu ul ul {
    left: 0;
    transform: initial;
  }

  .menu li > ul ul:hover {
    transform: initial;
  }
}

/*=========================================
            05. HERO SECTION CSS
============================================*/
.hero-equal-height {
  position: relative;
  min-height: 700px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.hero-equal-height.hero-tab-slider {
  min-height: 700px !important;
}

.shape-bottom img.bottom-shape {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
}

.hero-bg-1,
.hero-bg-2 {
  position: relative;
  display: block;
  width: 100%;
}

.hero-bg-1:before {
  position: absolute;
  content: '';
  background: url('../img/slider-bg-2.svg') no-repeat center bottom / cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.hero-bg-2:before {
  position: absolute;
  content: '';
  background: url('../img/slider-bg-1.svg') no-repeat center bottom / cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.hero-slider-content h1 {
  font-size: 50px;
  line-height: initial;
  font-weight: 700;
}

.slider-bg-image,
.gradient-overlay {
  position: relative;
  width: 100%;
  display: block;
}

.slider-bg-image:before {
  position: absolute;
  content: '';
  background: #030d1e;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.gradient-overlay:before {
  position: absolute;
  content: '';
  background-image: linear-gradient(
    75deg,
    rgba(26, 44, 121, 0.88) 10%,
    rgba(232, 5, 102, 0.88)
  ) !important;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.video-section-wrap .background-video-overly {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
    75deg,
    rgba(26, 44, 121, 0.75) 10%,
    rgba(232, 5, 102, 0.85)
  ) !important;
}

.gradient-overly-right-light,
.gradient-overly-right-color,
.gradient-overly-left,
.gradient-overly-bottom,
.gradient-overly-top {
  z-index: 1;
  width: 100%;
  min-width: 100%;
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.gradient-overly-right-light:before,
.gradient-overly-right-color:before,
.gradient-overly-left:before,
.gradient-overly-bottom:before,
.gradient-overly-top:before {
  content: '';
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.gradient-overly-right-light:before {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #1a2c79),
    to(transparent)
  );
  background: linear-gradient(
    to right,
    #fff4f4 30%,
    rgba(26, 44, 121, 0.18) 100%
  );
}
.gradient-overly-right-color:before {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #1a2c79),
    to(transparent)
  );
  background: linear-gradient(
    to right,
    #1a2c79 30%,
    rgba(26, 44, 121, 0.18) 100%
  );
}
.gradient-overly-left:before {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #1a2c79),
    to(transparent)
  );
  background: linear-gradient(
    to left,
    #1a2c79 30%,
    rgba(26, 44, 121, 0.18) 100%
  );
}
.gradient-overly-bottom:before {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #1a2c79),
    to(transparent)
  );
  background: linear-gradient(
    to bottom,
    #1a2c79 45%,
    rgba(26, 44, 121, 0.18) 100%
  );
}
.gradient-overly-top:before {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #1a2c79),
    to(transparent)
  );
  background: linear-gradient(
    to top,
    #1a2c79 35%,
    rgba(26, 44, 121, 0.18) 100%
  );
}

/*dot indicator css*/
.dot-indicator-center .owl-dots {
  position: absolute;
  width: 100%;
  margin-top: 0 !important;
  bottom: 15px;
}

.dot-indicator-center.owl-theme .owl-dots .owl-dot span {
  width: 30px;
  height: 5px;
}

.dot-indicator-center.owl-theme .owl-dots .owl-dot.active span,
.dot-indicator-center.owl-theme .owl-dots .owl-dot:hover span {
  background: #1a2c79;
}

.dot-indicator-center.owl-theme .owl-dots button.owl-dot:focus {
  outline: none !important;
}

/*custom dot style*/

.custom-dot.owl-theme .owl-dots,
.custom-arrow.owl-theme .owl-nav {
  position: absolute;
}
.custom-dot.dot-right-center.owl-theme .owl-dots {
  margin: 0 !important;
  top: 40%;
  right: 10%;
}
.custom-dot.dot-bottom-center.owl-theme .owl-dots {
  width: 100%;
  margin: 10px auto;
}
.custom-dot.dot-bottom-center.owl-theme .owl-dots button {
  margin: 0 4px;
  border: 1px dashed #1a2c79;
}
.custom-dot.dot-right-center.owl-theme .owl-dots button {
  display: block;
  border: 1px dashed #ebebeb;
  margin: 6px 0;
}
.custom-dot.custom-dot-2.owl-theme .owl-dots button {
  margin: 0 4px;
  border: 1px dashed #ebebeb;
}
.custom-dot.custom-dot-2.owl-theme .owl-dots {
  right: 15px;
  top: auto;
  bottom: -10%;
}

.custom-dot.owl-theme .owl-dots button {
  border-radius: 100%;
  border: 1px dashed #1a2c79;
  margin: 0 4px;
}
.custom-dot.owl-theme .owl-dots button:focus,
.custom-arrow.owl-theme .owl-nav button:focus {
  outline: none;
}

.custom-dot.owl-theme .owl-dots button.owl-dot.active,
.custom-dot.owl-theme .owl-dots button.owl-dot span {
  background: #ffffff;
}
.custom-dot.owl-theme .owl-dots button.owl-dot span:hover {
  background: #e80566;
}
.custom-dot.owl-theme .owl-dots button.owl-dot.active span {
  background: #e80566;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
.custom-dot.owl-theme .owl-dots .owl-dot span {
  margin: 2px;
}

/*custom arrow*/
.custom-arrow.owl-theme .owl-nav button {
  width: 30px;
  background: transparent;
  border: 1px dashed #ebebeb;
  line-height: 26px;
}

.custom-arrow.owl-theme .owl-nav button:hover {
  background: #e80566;
  border-color: #e80566;
}
.custom-arrow.owl-theme .owl-nav button:hover span {
  color: #ffffff;
}
.custom-arrow.owl-theme .owl-nav button span {
  font-size: 25px;
  color: #e80566;
}
.custom-arrow-bottom-center.owl-theme .owl-nav {
  width: 100%;
  margin: auto;
  margin-top: 8px;
}
.custom-arrow-left-right.owl-theme .owl-nav {
  width: 100%;
  top: 25%;
}
.custom-arrow-left-right.owl-theme .owl-nav button.owl-prev,
.custom-arrow-left-right.owl-theme .owl-nav button.owl-next {
  position: absolute;
}
.custom-arrow-left-right.owl-theme .owl-nav button.owl-prev {
  left: -35px;
}
.custom-arrow-left-right.owl-theme .owl-nav button.owl-next {
  right: -35px;
}
/*heighlight feature list*/

.highlight-list li {
  border: 1px dashed #ebebeb;
  border-radius: 4px;
  text-align: center;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  min-width: 130px;
}
.highlight-list li h5 {
  font-size: 32px;
  font-weight: 700;
}
.highlight-list li h6 {
  font-size: 13px;
}

/*slider */
.custom-indicators {
  position: absolute;
  bottom: 0;
  z-index: 5;
  width: 100%;
}
.custom-indicators li {
  min-width: 200px;
  transition: all 0.3s ease-in;
}
.custom-indicators li button {
  border: none;
  display: block;
  width: 100%;
  padding: 1.5rem;
  justify-content: center;
  border-radius: 4px 4px 0 0;
  transition: all 0.3s ease-in;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.custom-indicators li.active button {
  background: #e80566;
  color: #ffffff;
}
.custom-indicators li.active button span {
  color: #ffffff;
}
.custom-indicators li button:focus {
  outline: none;
}
@media (min-width: 320px) and (max-width: 575px) {
  .hero-equal-height.hero-tab-slider {
    min-height: 500px !important;
  }
  .custom-indicators li {
    min-width: auto;
  }
  .custom-indicators li button {
    padding: 6px 8px;
  }
}

/*=========================================
        06. CEO MESSAGE SECTION CSS
============================================*/
.ceo-message-wrap {
  position: relative;
  display: block;
}

.year-highlight-text h4 {
  font-size: 25px;
  line-height: 60px;
  font-weight: 700;
  margin: 0;
  background: #7202bb url('../img/yers-bg.jpg') no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}

.year-highlight-text h4 span {
  font-size: 215px;
  line-height: 220px;
}

.year-highlight-text h4 sub {
  background: #1a2c79 url('../img/yers-bg.jpg') no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: auto;
  background-position: center;
  display: inline-block;
  top: -6px;
  font-size: 25px;
  line-height: 25px;
}

.ceo-image {
  margin-top: 30px;
}
/*core services css*/
.core-services-single {
  position: relative;
  display: block;
  transition: all 0.3s ease-in;
}

.core-services-single a {
  text-decoration: none;
  position: absolute;
  right: 15px;
  bottom: -15px;
  color: #ffffff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.12);
}

.core-services-single:hover {
  background: linear-gradient(75deg, #1a2c79 10%, #e80566);
  color: #fff;
}

.core-services-single:hover h5,
.core-services-single:hover span {
  color: #ffffff !important;
}

.core-services-single:hover a,
.core-services-single:hover a > span {
  color: #1a2c79 !important;
  background: #ffffff;
}

/*our services style two*/

.services-block-three > a {
  display: block;
  position: relative;
}
.services-block-three > a:before {
  display: block;
  content: '';
  width: 9%;
  height: 17%;
  position: absolute;
  bottom: -2px;
  right: -2px;
  border-bottom: 1px solid #1a2c79;
  border-right: 1px solid #1a2c79;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}
.services-block-three > a:after {
  display: block;
  content: '';
  width: 9%;
  height: 17%;
  position: absolute;
  top: -2px;
  left: -2px;
  border-top: 1px solid #1a2c79;
  border-left: 1px solid #1a2c79;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}

.services-block-three a,
.services-block-three p {
  color: #757575;
  text-decoration: none;
}
.services-block-three p {
  margin-bottom: 0;
}
.services-block-three > a:hover {
  opacity: 1;
  border-color: #ebebeb;
}

.services-block-three > a:hover:before,
.services-block-three > a:hover:after {
  width: 95%;
  height: 90%;
}

/*=========================================
        07. FEATURE SECTION CSS
============================================*/
.icon-box-left {
  position: relative;
  padding-left: 60px;
  text-align: left;
}
.icon-box-left .icon-box-icon {
  position: absolute;
  height: 38px;
  width: 38px;
  left: 0;
  text-align: center !important;
  line-height: 3.375rem;
  font-size: 2.1875rem;
}
.icon-box .icon-box-icon {
  font-size: 2.375rem;
  margin: 0 0 10px;
  transition: all 0.3s ease-in-out;
}
.icon-box:hover .icon-box-icon {
  transform: translateY(-5px);
}

/*feature box css*/
.features-box {
  position: relative;
  display: block;
}
.features-box-icon {
  display: table-cell;
  vertical-align: top;
}

.features-box-icon i {
  display: inline-block;
  width: 80px;
  height: 80px;
  text-align: center;
  color: #1a2c79;
  font-size: 50px;
  padding: 10px;
  border-radius: 50%;
}
.features-box-content {
  display: table-cell;
  padding-left: 20px;
}

/*=========================================
        08. PROGRESSBAR CSS
============================================*/
.progress {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  height: 0.45rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #ebebeb;
  border-radius: 30px;
}
.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #1a2c79;
  transition: width 0.6s ease;
}
.progress-item + .progress-item {
  margin-top: 24px;
}
.progress-item {
  margin-bottom: 20px;
}
.progress-title > h6 {
  font-size: 0.95375rem;
  margin-bottom: 8px;
  font-weight: 500;
}

/*progressbar animation*/

.progress span {
  display: block;
  height: 100%;
}

.progress-line {
  background-color: #1a2c79;
  -webkit-animation: progressBar 3s ease-in-out;
  -webkit-animation-fill-mode: both;
  -moz-animation: progressBar 3s ease-in-out;
  -moz-animation-fill-mode: both;
}

@-webkit-keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-moz-keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/*=========================================
        09. CORE IDEA CSS
============================================*/

.switchable {
  position: relative;
}

.imageblock-section {
  position: relative;
  display: block;
  width: 100%;
}

.imageblock-section .imageblock-section-img {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 2;
  padding: 0;
}

.switchable.switchable-content div[class*='col-']:first-child {
  float: right;
  right: 0;
  left: auto;
}

.switchable > div[class*='col-'] {
  padding: 0;
}

.background-image-holder {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover !important;
  background-position: 50% 50% !important;
  z-index: 0;
  transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  opacity: 0;
  background: #252525;
}

.background-image-holder:not([class*='col-']) {
  width: 100%;
}

.switchable div[class*='col-']:first-child {
  float: left;
  right: auto;
}

@media (max-width: 767px) {
  .switchable .imageblock-section-img[class*='col-'] {
    float: none !important;
  }
}

.switchable > div[class*='col-'] {
  padding: 0;
}

@media (max-width: 767px) {
  .imageblock-section .imageblock-section-img {
    position: relative;
    min-height: 18.57142857em;
  }
}

@media (min-width: 768px) {
  .switchable .container > .row {
    flex-flow: row-reverse;
  }

  .switchable.switchable-content .container > .row {
    flex-flow: row;
  }
}

/*=========================================
            10. MAIN SERVICES CSS
============================================*/

.services-single {
  transition: all 0.3s ease-in;
}
.services-single a {
  color: #ffffff;
  opacity: 0.8;
}

.services-single:hover h5,
.services-single:hover span,
.services-single:hover a {
  color: #ffffff !important;
  opacity: 1;
}

.services-single:hover {
  transition: all 0.3s ease-in;
  background: linear-gradient(75deg, #1a2c79 10%, #e80566);
  color: #fff;
}

/*=========================================
            11. PORTFOLIO CSS
============================================*/

.filter-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 6px 20px;
  border-radius: 4px;
  background: transparent;
  margin-right: 5px;
  border: 1px dashed #1a2c79;
  transition: all 0.3s ease-in;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.filter-btn:hover {
  background: #1a2c79;
  color: #ffffff;
}

button.filter-btn:focus {
  outline: none;
  box-shadow: none !important;
}

.mixitup-control-active {
  background: #1a2c79;
  color: #ffffff;
}

.mixitup-control-active[data-filter]:after {
  background: transparent;
}

.control[data-filter] + .control[data-sort] {
  margin-left: 0.85rem;
}
/*portfolio container*/

.portfolio-container {
  text-align: justify;
}

/*portfolio grid*/

.portfolio-item,
.gap {
  display: inline-block;
  vertical-align: top;
}

.portfolio-item {
  background: #ebebeb;
  margin-top: 1rem;
  position: relative;
}

/*portfolio hover*/
.portfolio-wrapper {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}

.portfolio-wrapper .content-overlay {
  background: #1a2c79;
  background: -webkit-linear-gradient(left, #1a2c79 2%, #e80566 82%);
  background: linear-gradient(to right, #1a2c79 2%, #e80566 82%);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.portfolio-wrapper:hover .content-overlay {
  opacity: 0.8;
}
.portfolio-wrapper a img {
  display: block;
}
.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.portfolio-wrapper:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.fadeIn-bottom {
  top: 80%;
}

.fadeIn-top {
  top: 20%;
}

.fadeIn-left {
  left: 20%;
}

.fadeIn-right {
  left: 80%;
}
/*portfolio grid brack point*/

/* 2 Columns */

.portfolio-item,
.gap {
  width: calc(100% / 2 - (((2 - 1) * 1rem) / 1));
}

/* 3 Columns */

@media screen and (min-width: 541px) {
  .portfolio-item,
  .gap {
    width: calc(100% / 3 - (((3 - 1) * 1rem) / 3));
  }
}

/* 4 Columns */

@media screen and (min-width: 961px) {
  .portfolio-item,
  .gap {
    width: calc(100% / 3 - (((3 - 1) * 1rem) / 3));
  }
}

/* 5 Columns */

@media screen and (min-width: 1281px) {
  .portfolio-item,
  .gap {
    width: calc(100% / 3 - (((3 - 1) * 1rem) / 3));
  }
}

/*=========================================
            12. BLOG SECTION CSS
============================================*/
.single-blog-card {
  margin-bottom: 25px;
}
.single-blog-card span.category {
  z-index: 2;
  bottom: 0;
  left: 0;
  font-size: 80%;
  background: #1a2c79;
  color: #ffffff;
  padding: 4px 15px;
}
.author-content {
  padding-top: 6px;
}
.author-content a {
  font-size: 14px;
  line-height: 13px;
}
.author-content small {
  font-size: 12px;
}
.blog-img {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}
.blog-img img {
  display: block;
}
.blog-img:hover span.category {
  background: #e80566;
  color: #ffffff;
}

.meta-list {
  opacity: 0.8;
  font-size: 95%;
}

.meta-list li.list-inline-item:not(:last-child) {
  margin-right: 0.7rem;
}
.single-blog-card a {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
.single-blog-card a,
.single-blog-card a:hover {
  text-decoration: none;
}

a.detail-link {
  display: inline-block;
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

a.detail-link span {
  font-size: 12px;
  vertical-align: middle;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #1a2c79;
}

a.detail-link:hover {
  color: #e80566;
}
a.detail-link:hover span {
  transform: translateX(3px);
  margin-left: 8px;
}

/*=========================================
            13. WORK PROCESS CSS
============================================*/
.work-process-list {
  width: 100%;
  display: block;
  position: relative;
}
.work-process-list li {
  width: 18%;
  display: inline-block;
  text-align: center;
  margin-right: 0;
}
.work-process-list li span:before {
  position: absolute;
  content: '';
  height: 4px;
  background: #000;
  width: 100%;
  top: 20%;
  z-index: -1;
  left: 0;
  right: 0;
  border: 3px solid #005cbf;
}
.work-process-list li span:after {
  position: absolute;
  content: '';
  height: 4px;
  background: #000;
  width: 100%;
  top: 20%;
  z-index: -1;
  left: 0;
  right: 0;
  border: 3px solid #005cbf;
}
.work-process-list li span {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #ebebeb;
  display: block;
  margin: auto;
  border-radius: 50%;
  z-index: 2;
}

/*work process scrolling style css*/
.step {
  position: relative;
  padding: 5.625rem 20% 20% 0;
}
.step.step-highlight::before {
  background: #fff;
  border-color: #fff;
  color: #000;
}
.owl-carousel .owl-stage-outer .owl-stage .owl-item {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  counter-increment: owlItem;
}
.step-title {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.025em;
}
.text-white .step::before {
  border-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.step:hover::before,
.step.step-highlight::before {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  transform: scale(1.25);
  background: #ffffff;
  border-color: transparent;
  color: #1a2c79;
}
.step::before {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  content: counter(owlItem, decimal);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 3.75rem;
  height: 3.75rem;
  line-height: calc(3.75rem - 0.25rem);
  text-align: center;
  border: 2px solid #e5e5e5;
  z-index: 20;
  border-radius: 50%;
  font-size: 1.5rem;
}
.owl-item:not(:last-child) .step::after {
  content: '';
  display: block;
  position: absolute;
  top: 29px;
  left: 3.75rem;
  width: calc(100% - 40px);
  height: 2px;
  background: #e5e5e5;
  z-index: 10;
}
.owl-carousel.visible .owl-stage-outer {
  overflow: visible;
}

.text-white .step::after {
  background-color: rgba(255, 255, 255, 0.2) !important;
}
.work-process-carousel {
  position: relative;
  display: block;
}
.work-process-carousel .owl-nav {
  position: absolute;
  right: 0;
  bottom: 0;
}

.work-process-carousel .owl-nav button.owl-next,
.work-process-carousel .owl-nav button.owl-prev {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  line-height: 45px;
  padding: 10px !important;
}

/*work process new style*/
.work-process-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.single-work-process {
  position: relative;
  margin: 0 15px 60px;
  width: calc(25% - 30px);
}

.work-process-icon-wrap {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
}
@media screen and (max-width: 991px) {
  .single-work-process {
    width: calc(50% - 30px);
  }
  .work-process-divider {
    width: calc(100% - 145px);
  }
  .single-work-process:nth-child(2n) .work-process-divider {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .single-work-process {
    width: 100%;
    margin: 0 0 50px;
    text-align: center;
    padding: 0 30px;
  }
  .work-process-divider {
    display: none;
  }
}

.work-process-divider {
  background-image: linear-gradient(
    90deg,
    #73778c,
    #73778c 40%,
    transparent 40%,
    transparent 100%
  );
}

.single-work-process .work-process-divider {
  position: absolute;
  left: auto;
  top: 40px;
  width: calc(100% - 130px);
  height: 1px;
  background-image: linear-gradient(
    90deg,
    #73778c,
    #73778c 40%,
    transparent 40%,
    transparent 100%
  );
  background-size: 12px 1px;
}
.single-work-process .work-process-divider:after {
  content: '\e628';
  font-family: 'themify';
  position: absolute;
  right: -30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 20px;
}

.work-process-icon-wrap i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.work-process-icon-wrap .process-step {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: -10px;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.single-work-process:last-child .work-process-divider {
  display: none !important;
}

/*=========================================
            14. COUNTER SECTION CSS
============================================*/
.counter-wrap {
  width: 100%;
  display: block;
  position: relative;
}

.counter-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-auto-flow: dense;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.counter-wrap li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  padding: 30px;
}
.counter-wrap li:last-child {
  border-right: none;
  margin-right: 0 !important;
}

.counter-wrap .single-counter {
  margin: 0;
}

.single-counter {
  margin: 14px 0;
  border: 1px dashed;
  min-width: 175px;
}

.single-counter span {
  font-size: 35px;
  line-height: 38px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .single-counter {
    margin: 0;
  }
}

/*=========================================
            15. TAB SECTION CSS
============================================*/
.feature-tabs-wrap {
  margin-top: 30px;
}

.feature-tabs-center {
  margin-bottom: 25px;
}

.feature-tabs li {
  position: relative;
  margin: 0 15px;
}
.feature-tabs li:first-child {
  margin-left: 0;
}
.feature-tabs li a {
  border: none !important;
  padding: 0 0 6px;
}
.feature-tabs li a,
.feature-tabs li a.active {
  background: transparent !important;
}
.feature-tabs li a h6 {
  font-size: 16px;
  line-height: 21px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.feature-tabs li a:before {
  position: absolute;
  content: '';
  width: 50%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  height: 2px;
  bottom: 0;
}
.feature-tabs li a.active:before {
  width: 100%;
  background: #e80566;
}
.feature-tabs li a.active {
  color: #e80566 !important;
}

/*=========================================
            16. TEAM SECTION CSS
============================================*/
.team-1-wrap {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: start;
  align-items: flex-start;
}
.team-style-2 {
  border: 1px solid #ececec;
  border-radius: 4px;
  background: #fff;
}
.team-img {
  position: relative;
  overflow: hidden;
}
.team-img:before {
  content: '';
  background-image: linear-gradient(
    to left,
    rgba(41, 103, 230, 0.75),
    rgba(48, 91, 228, 0.75),
    rgba(59, 79, 226, 0.8),
    rgba(71, 64, 222, 0.85),
    rgba(84, 45, 216, 0.95)
  );
  position: absolute;
  opacity: 0.8;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 0;
  height: 0;
  padding: 25%;
  border-radius: 50%;
  transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease-out;
  transition: transform 0.3s ease, opacity 0.3s ease-out,
    -webkit-transform 0.3s ease;
  will-change: opacity, transform;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
}

.team-overly-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  opacity: 0;
  will-change: opacity;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.team-1-wrap:hover .team-overly-content {
  opacity: 1;
  height: 100%;
  transition: opacity 0.4s cubic-bezier(0.71, 0.05, 0.29, 0.9) 0.2s;
}
.team-1-wrap:hover .team-img:before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(4);
  transform: translate(-50%, -50%) scale(4);
  transition-duration: 0.6s;
}
.team-img img {
  display: block;
  transition: all 0.3s ease-in;
}
.team-1-wrap:hover .team-img img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.team-overly-content ul li a {
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  line-height: 25px;
  padding: 5px;
  background-color: #fff;
  border-radius: 100%;
  margin: 4px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #757575;
}
.team-overly-content ul li a:hover {
  color: #1a2c79;
}
.team-info {
  display: block;
  text-align: center;
  width: 100%;
  padding: 15px;
}

/*team two style css*/
.staff-member {
  position: relative;
  display: block;
}
.staff-member img {
  width: 100%;
}

.staff-member h5,
.staff-member p,
.staff-member span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
}
.staff-member h5,
.staff-member p,
.staff-member span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
}

.staff-member span {
  font-size: 0.9rem;
  font-weight: 400;
  color: #757575;
  display: inline-block;
}

.staff-member .overlay {
  background: #1a2c79;
  background: -moz-linear-gradient(left, #1a2c79 2%, #e80566 82%);
  background: -webkit-linear-gradient(left, #1a2c79 2%, #e80566 82%);
  background: linear-gradient(to right, #1a2c79 2%, #e80566 82%);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 30px;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 4px;
}

.staff-member .overlay .teacher-quote {
  font-size: 0.9rem;
  font-weight: 300;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.staff-member .overlay .teacher-name {
  color: #fff;
  text-decoration: none !important;
  display: block;
  margin-top: 15px;
}
.staff-member .overlay h5 {
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 0;
}
.staff-member .overlay .teacher-field {
  font-size: 0.9rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  opacity: 0;
}
.staff-member .overlay ul.social {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}
.staff-member .overlay ul.social li {
  margin: 0;
}
.staff-member .overlay ul.social a {
  margin: 0 5px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  display: block;
}
.staff-member .overlay ul.social li a:hover span {
  color: #e80566;
}
.staff-member .overlay ul.social {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}
.staff-member:hover .social {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.staff-member .overlay .teacher-see-profile {
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.staff-member:hover .overlay {
  opacity: 0.9;
}

.staff-member:hover .overlay h5,
.staff-member:hover .overlay p,
.staff-member:hover .overlay span,
.staff-member:hover .overlay ul.social {
  -webkit-transform: none;
  transform: none;
  opacity: 1;
}

.team-social-list li a {
  padding: 5px;
}

.team-social-list li span {
  font-size: 18px;
  line-height: inherit;
  vertical-align: middle;
}

/*=========================================
            17. VIDEO PROMO CSS
============================================*/

.video-play-icon {
  position: relative;
  display: block;
  width: 100%;
  top: 40%;
  left: -10%;
}
.video-play-icon span {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  background: #ffffff;
  -webkit-transition: 0.5s;
  padding-left: 5px;
}
.color-bip span {
  -webkit-animation: ripple 1s linear infinite;
  animation: ripple 1s linear infinite;
}
.white-bip span {
  -webkit-animation: ripple-white 1s linear infinite;
  animation: ripple-white 1s linear infinite;
}
a.video-play-icon-without-bip:hover span {
  color: #ffffff;
}
a.video-play-icon {
  border-radius: 50%;
  display: block;
}

a.video-play-icon-without-bip {
  animation: none;
}
a.video-play-icon-without-bip:hover {
  -webkit-animation: ripple-white 1s linear infinite;
  animation: ripple-white 1s linear infinite;
  -webkit-transition: 0.5s;
  background-color: #1a2c79;
}
@-webkit-keyframes ripple {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(50, 100, 245, 0.15),
      0 0 0 20px rgba(50, 100, 245, 0.15), 0 0 0 40px rgba(50, 100, 245, 0.15);
    box-shadow: 0 0 0 0 rgba(50, 100, 245, 0.15),
      0 0 0 20px rgba(50, 100, 245, 0.15), 0 0 0 40px rgba(50, 100, 245, 0.15);
  }
  100% {
    -webkit-box-shadow: 0 0 0 20px rgba(50, 100, 245, 0.15),
      0 0 0 40px rgba(50, 100, 245, 0.15), 0 0 0 60px rgba(50, 100, 245, 0);
    box-shadow: 0 0 0 20px rgba(50, 100, 245, 0.15),
      0 0 0 40px rgba(50, 100, 245, 0.15), 0 0 0 60px rgba(50, 100, 245, 0);
  }
}

@keyframes ripple {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(50, 100, 245, 0.15),
      0 0 0 20px rgba(50, 100, 245, 0.15), 0 0 0 40px rgba(50, 100, 245, 0.15);
    box-shadow: 0 0 0 0 rgba(50, 100, 245, 0.15),
      0 0 0 20px rgba(50, 100, 245, 0.15), 0 0 0 40px rgba(50, 100, 245, 0.15);
  }
  100% {
    -webkit-box-shadow: 0 0 0 20px rgba(50, 100, 245, 0.15),
      0 0 0 40px rgba(50, 100, 245, 0.15), 0 0 0 60px rgba(50, 100, 245, 0);
    box-shadow: 0 0 0 20px rgba(50, 100, 245, 0.15),
      0 0 0 40px rgba(50, 100, 245, 0.15), 0 0 0 60px rgba(50, 100, 245, 0);
  }
}

@-webkit-keyframes ripple-white {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
  }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 30px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 30px rgba(255, 255, 255, 0);
  }
}

@keyframes ripple-white {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 10px rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1);
  }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 30px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 30px rgba(255, 255, 255, 0);
  }
}

.about-img-wrap {
  position: relative;
  display: block;
  overflow: hidden;
}
.about-img-wrap img {
  display: block;
}

/*======================================
      18. PROMO BLOCK WITH HOVER BG IMAGE
=========================================*/
.single-promo-block {
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.promo-hover-bg-1:before {
  background-image: url('../img/blog/1.jpg');
}

.promo-hover-bg-2:before {
  background-image: url('../img/blog/2.jpg');
}
.promo-hover-bg-3:before {
  background-image: url('../img/blog/3.jpg');
}
.promo-hover-bg-4:before {
  background-image: url('../img/blog/4.jpg');
}
.promo-hover-bg-5:before {
  background-image: url('../img/blog/5.jpg');
}
.promo-hover-bg-6:before {
  background-image: url('../img/blog/6.jpg');
}
.single-promo-block:before {
  top: 80%;
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
}

.single-promo-block:before,
.single-promo-block:after {
  content: '';
  height: 100%;
  right: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  -webkit-border-radius: inherit;
  border-radius: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.single-promo-block:after {
  z-index: 1;
  top: 100%;
  background-image: linear-gradient(
    75deg,
    rgba(26, 44, 121, 0.75) 10%,
    rgba(232, 5, 102, 0.8)
  );
}

.single-promo-block > * {
  position: relative;
  z-index: 3;
}
@media screen and (min-width: 1367px),
  screen and (any-hover: hover) and (min-width: 1200px),
  not all,
  not all,
  not all {
  .single-promo-block.hover-image:hover:before {
    opacity: 1;
    -webkit-transition: all 0.17s ease-out 0.18s;
    transition: all 0.17s ease-out 0.18s;
  }
  .single-promo-block.hover-image:hover:before,
  .single-promo-block.hover-image:hover:after {
    top: 0;
  }
  .single-promo-block.hover-image:hover .promo-block-content h5,
  .single-promo-block.hover-image:hover .promo-block-icon span {
    color: #ffffff;
  }
  .single-promo-block.hover-image:hover .promo-block-content p {
    color: rgba(255, 255, 255, 0.75);
  }
}
.overlay-top-img {
  position: absolute;
  bottom: -27px;
}

.project-info-list li {
  border-left: 4px solid #1a2c79;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
}
.project-info-list li a {
  color: #707070;
}

/*=========================================
      19. TESTIMONIAL CSS
============================================*/

.testimonial-single {
  display: block;
  position: relative;
}
.client-info h5 {
  font-size: 15px;
}
/*owl carousel slider*/
.owl-carousel .owl-item .client-img img {
  width: 60px;
  display: initial;
}

.client-ratting-list li:not(:last-child) {
  margin-right: 0;
  line-height: 14px;
}
.client-ratting-list li span {
  font-size: 11px;
}

/*testimonial old*/

.bg-left-shape {
  position: relative;
}
.bg-left-shape:before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 50%;
  height: 80%;
  left: 15%;
  top: 22%;
  background-image: url('../img/globe-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.testimonial-wrap {
  padding: 30px;
}

.testimonial-wrap span.icon {
  font-size: 35px;
  color: #1a2c79;
}

.testimonial-wrap blockquote {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  height: 127px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
}

.client-say {
  position: relative;
  display: inline-block;
}

.client-say p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  height: 110px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
  float: left;
}
.client-say p span {
  font-size: 32px;
  color: #1a2c79;
}
.client-say img {
  position: relative;
  width: 6% !important;
  display: initial !important;
  top: 5px;
  margin-right: 10px;
}

.author-img {
  width: 4.425rem;
  height: 4.425rem;
  line-height: 4.425rem;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.dot-indicator.owl-theme button.owl-dot span {
  display: inline-block;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  background: #d8d8d8;
  border-radius: 50%;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  transition: 0.3s;
}

.dot-indicator.owl-theme button.owl-dot:focus {
  border: none;
  outline: none;
}

.dot-indicator.owl-theme button.owl-dot.active span {
  background: #7202bb;
  border: 2px solid transparent;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.screen-carousel.dot-indicator.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 20px;
}

.arrow-indicator.owl-theme .owl-nav {
  position: absolute;
  left: 0;
  margin-top: 4px;
}

.arrow-indicator.owl-theme .owl-nav [class*='owl-'] {
  width: 40px;
  height: 40px;
  margin: 2px;
  box-shadow: 0 2px 4px rgba(12, 12, 12, 0.12);
  background: #ffffff;
  border-radius: 50%;
}

.arrow-indicator.owl-theme .owl-nav [class*='owl-']:focus {
  outline: none;
}

.arrow-indicator.owl-theme .owl-nav [class*='owl-'] span {
  font-size: 20px;
  line-height: 20px;
  color: #1a2c79;
}

.arrow-indicator.owl-theme .owl-nav [class*='owl-']:hover {
  background: #1a2c79 !important;
}

.arrow-indicator.owl-theme .owl-nav [class*='owl-']:hover span {
  color: #ffffff !important;
}

/*client section css*/
.client-section-wrap ul {
  display: block;
}

.client-section-wrap ul li {
  padding-right: 50px;
  margin: 5px 0;
}

.client-section-wrap ul li img {
  transition: all 0.3s ease-in;
}

.client-section-wrap ul li img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  filter: none;
  -webkit-filter: grayscale(0%);
}

.client-section-wrap ul li:last-child {
  padding-right: 0;
}

.single-client {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-column-align: center;
  justify-items: center;
  width: 80%;
  height: auto;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  margin: 8px auto;
}

.single-client img {
  max-width: 100%;
  max-height: 100%;
  -webkit-filter: opacity(50%);
  filter: opacity(90%);
  width: 100%;
}

.single-client:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.single-client:hover .client-img {
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}

.shape-img {
  position: relative;
  z-index: 2;
  width: 100%;
}

.shape-img img {
  width: 100%;
  position: absolute;
  max-width: none;
  height: auto;
}

.client-img-list li.client-thumb img {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  border: 4px solid #ffffff;
  border-radius: 50%;
}
.client-img-list li.client-thumb {
  display: inline-block;
}
.client-img-list li.client-1 {
  position: absolute;
  top: 0;
  left: 15%;
  width: 120px;
  height: 120px;
  -webkit-animation: thumb-scale-up-one 7s infinite linear;
  animation: thumb-scale-up-one 7s infinite linear;
}
.client-img-list li.client-2 {
  position: absolute;
  width: 120px;
  height: 120px;
  right: 35%;
  top: 0;
  -webkit-animation: thumb-scale-up-two 6s infinite linear;
  animation: thumb-scale-up-two 6s infinite linear;
}
.client-img-list li.client-3 {
  position: absolute;
  width: 130px;
  height: 130px;
  top: 0;
  right: 50px;
  -webkit-animation: thumb-scale-up-three 8s infinite linear;
  animation: thumb-scale-up-three 8s infinite linear;
}
.client-img-list li.client-4 {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 125px;
  left: 90px;
  -webkit-animation: thumb-scale-up-one 7s infinite linear;
  animation: thumb-scale-up-one 7s infinite linear;
}
.client-img-list li.client-5 {
  position: absolute;
  width: 160px;
  height: 160px;
  left: 37%;
  top: 70px;
  -webkit-animation: thumb-scale-up-three 8s infinite linear;
  animation: thumb-scale-up-three 8s infinite linear;
}
.client-img-list li.client-6 {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 180px;
  top: 200px;
  -webkit-animation: thumb-scale-up-two 6s infinite linear;
  animation: thumb-scale-up-two 6s infinite linear;
}
.client-img-list li.client-7 {
  position: absolute;
  top: 130px;
  right: 110px;
  width: 100px;
  height: 100px;
  -webkit-animation: thumb-scale-up-one 7s infinite linear;
  animation: thumb-scale-up-one 7s infinite linear;
}

@-webkit-keyframes thumb-thumb-scale-up-one {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  40% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes thumb-scale-up-one {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  40% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes thumb-scale-up-two {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  40% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@keyframes thumb-scale-up-two {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  40% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@-webkit-keyframes thumb-scale-up-three {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }

  40% {
    -webkit-transform: scale(0.4);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}

@keyframes thumb-scale-up-three {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }

  40% {
    -webkit-transform: scale(0.4);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
}

/*=========================================
        20. SUBSCRIBE FORM CSS
============================================*/

.subscribe-form #email {
  background: #fdfcfb;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 30px;
}

.subscribe-form input.button {
  position: absolute;
  right: 8px;
  border-radius: 30px;
  padding: initial;
  top: 8px;
  bottom: 8px;
  width: 30%;
}

.subscribe-form-footer {
  position: absolute;
  top: -40px;
  width: 100%;
}

.subscribe-form-footer input.form-control {
  padding: 2.0175rem 1.15rem;
  border-radius: 50px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.22);
}

.subscribe-form-footer input.button {
  border-radius: 50px;
}

/*=========================================
        21. ACCORDION FAQ CSS
============================================*/

.accordion-faq.accordion > .card {
  overflow: hidden;
}

.accordion-faq.accordion .card-header {
  position: relative;
  cursor: pointer;
  background: #ffffff;
}
.accordion-faq.accordion .card-header:first-child {
  border-radius: calc(0.375rem - 1px) calc(0.375rem - 1px) 0 0;
}
.accordion-faq.accordion .card-header {
  border-bottom: 1px solid #eff2f7;
}
.accordion-faq.accordion > .card:not(:first-of-type) .card-header:first-child {
  border-radius: 0;
}

.accordion-faq.accordion > .card .card-header {
  margin-bottom: -1px;
}
.accordion-faq.accordion > .card .card-header h6 {
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
.accordion-faq.accordion .card-header[aria-expanded='false']:after {
  content: '+';
}
.accordion-faq.accordion .card-header[aria-expanded='true']:after {
  content: '-';
}
.accordion-faq.accordion .card-header:after {
  content: '+';
  position: absolute;
  right: 1.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/*=========================================
           22. CONTENT BOX CSS
============================================*/

.service-block-one .inner-box {
  position: relative;
  display: block;
}
.service-block-one .inner-box .image-box {
  position: absolute;
  left: 0;
  top: 0;
  background: #1a2c79;
  overflow: hidden;
}
.service-block-one .inner-box .image-box a {
  position: relative;
  z-index: 1;
  text-decoration: none;
}
.service-block-one .inner-box .image-box img {
  width: 100%;
  opacity: 1;
  transition: all 500ms ease;
  display: block;
}
figure {
  margin: 0;
}
.service-block-one .inner-box .content-box {
  position: relative;
  padding: 28px 30px 30px 240px;
  min-height: 300px;
}
.service-block-one .inner-box:hover .image-box img {
  opacity: 0.5;
  transform: scale(1.05);
}
.service-block-one .inner-box .content-box .icon-box {
  position: relative;
  display: inline-block;
  font-size: 55px;
  line-height: 55px;
  color: #000;
  font-weight: 500;
  margin-bottom: 17px;
}

.service-block-one .inner-box .content-box .link-btn a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.service-block-one .inner-box .content-box .link-btn i {
  position: relative;
  font-size: 12px;
  transition: all 500ms ease;
}
.service-block-one .inner-box .content-box .link-btn a:hover i {
  transform: rotate(360deg);
}
@media only screen and (max-width: 599px) {
  .service-block-one .inner-box .image-box {
    position: relative;
  }
  .service-block-one .inner-box .image-box a {
    display: block;
  }
  .service-section .service-block-one .inner-box .content-box {
    padding-top: 40px !important;
  }
  .service-block-one .inner-box .content-box {
    padding-left: 30px;
  }
}

/*=========================================
            23. PRICING CSS
============================================*/
.card.single-pricing-pack {
  transition: all 0.2s ease 0s;
  box-shadow: 0 0 0 1px #ebebeb;
  border: none;
  border-top: 4px solid transparent;
}

.card.single-pricing-pack:hover {
  z-index: 2;
  border-radius: 1rem !important;
}
.single-pricing-pack:hover {
  box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125) !important;
  transform: translate(0, -5px);
  border-top: 4px solid #1a2c79;
}
.single-pricing-pack .card-body {
  color: rgb(132, 146, 166);
  flex: 1 1 auto;
  padding: 1.5rem;
}
.pricing-header {
  position: relative;
  background: transparent;
}
.pricing-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  line-height: 120px;
  margin: 0 auto;
}

.font-weight-bolder {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.pricing-header::after {
  content: '';
  display: block;
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -40%;
  height: 1px;
  background: radial-gradient(
    at center center,
    rgb(222, 228, 239) 0px,
    rgba(255, 255, 255, 0) 75%
  );
}

.pricing-feature-list li {
  font-size: 14px;
  line-height: 28px;
}

/*price new style*/

.popular-price {
  box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125) !important;
  transform: translate(0, -5px);
  border-top: 4px solid #1a2c79 !important;
}
.pricing-value {
  position: relative;
  display: block;
}
.pricing-value.card-footer {
  border-color: #ebebeb;
  background: transparent;
}
.pricing-value.card-footer::after {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  right: 2.875rem;
  display: block;
  content: '\e628';
  font-size: 1.375rem;
  font-family: 'themify';
}
.pricing-value.card-footer:hover {
  background: #1a2c79;
  color: #ffffff;
}
.pricing-value.card-footer:hover::after {
  right: 1.875rem;
  color: inherit;
}
.pricing-value .card-price {
  font-size: 2.5rem;
  font-weight: 500;
}
a.pricing-value {
  text-decoration: none;
  color: #757575;
}

/*=========================================
           24. SINGLE PAGE HEADER CSS
============================================*/
@media (min-width: 320px) and (max-width: 576px) {
  .page-header-content {
    padding-top: 3rem !important;
  }
}

.custom-breadcrumb ol {
  margin-bottom: 0;
}
.custom-breadcrumb ol li a,
.custom-breadcrumb ol li.breadcrumb-item.active {
  color: #ffffff;
  opacity: 0.7;
}
.custom-breadcrumb ol li a:hover {
  opacity: 1;
}
.custom-breadcrumb ol li.breadcrumb-item {
  padding-left: 0;
}
.custom-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  font-family: themify;
  content: '\e649';
  font-size: 10px;
  color: #ffffff;
  opacity: 0.7;
}

/*=========================================
            25. CONTACT US CSS
============================================*/
.single-promo-card {
  transition: all 0.2s ease;
}
.card.single-promo-card {
  border: 1px solid #eff2f7;
  border-radius: 1rem;
}
.single-promo-card .card-body {
  padding: 1.5rem;
}
.single-promo-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125) !important;
}

.link-color {
  color: #707070;
}

.google-map {
  height: 100%;
  margin-bottom: -8px;
}
.google-map iframe {
  width: 100%;
  border: 0;
  -webkit-filter: grayscale(99%);
  -webkit-backface-visibility: hidden;
}

/*=========================================
           26. FOOTER CSS
============================================*/
.footer-top {
  padding: 65px 0;
}

.security-icon-list li {
  margin: 0 15px 12px 0;
}

@media (min-width: 320px) and (max-width: 567px) {
  .footer-top {
    padding: 50px 0;
  }
}

.footer-nav-wrap h4 {
  font-size: 13px;
  margin-bottom: 1.4rem;
}

.footer-nav-wrap ul li a {
  font-size: 13px;
  line-height: 24px;
  padding: 3px 0;
  color: inherit;
  opacity: 0.8;
}

.footer-nav-wrap ul li a:hover,
.copyright-text a:hover,
.social-list li a:hover {
  opacity: 1;
  text-decoration: none;
}

.payment-method ul {
  display: inline-flex;
  align-items: center;
}

.payment-method ul li img {
  max-width: 60px;
}

.payment-method ul li:last-child img {
  margin-right: 0;
}

.copyright-text {
  font-size: 13px;
}

.social-list li a {
  padding: 6px 10px;
}

.footer-nav-list li a span {
  font-size: 12px;
  vertical-align: middle;
}

.bottom-sticky-footer {
  position: absolute;
  bottom: 1px;
  width: 100%;
  height: 55px;
}
.social-nav ul li a {
  opacity: 0.8;
  transition: all 0.3s ease-in;
}

.tooltip-hover {
  position: relative;
}

.tooltip-hover a {
  display: block;
}

.tooltip-item {
  position: absolute;
  background-color: rgb(255, 255, 255);
  pointer-events: none;
  color: rgb(51, 51, 51);
  font-size: 13px;
  bottom: 90%;
  left: 50%;
  opacity: 0;
  white-space: nowrap;
  visibility: hidden;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 15px;
  transform: translate3d(-50%, 0px, 0px);
  padding: 0.4rem 0.8rem;
  border-radius: 3px;
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}
.tooltip-item:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0px;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 6px solid rgb(255, 255, 255);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.tooltip-hover:hover .tooltip-item {
  opacity: 1;
  visibility: visible;
  bottom: calc(100% + 5px);
}

.get-in-touch-list li {
  font-size: 14px;
}
.get-in-touch-list li span {
  font-size: 18px;
}
/*=========================================
            27. PRELOADER CSS
============================================*/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #fff;
}

.loader1 {
  display: block;
  position: relative;
  left: 45%;
  top: 50%;
}

.loader1 span {
  vertical-align: middle;
  border-radius: 100%;

  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px 2px;
  -webkit-animation: loader1 0.8s linear infinite alternate;
  animation: loader1 0.8s linear infinite alternate;
}

.loader1 span:nth-child(1) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background: rgba(41, 103, 230, 0.6);
}

.loader1 span:nth-child(2) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  background: rgba(41, 103, 230, 0.8);
}

.loader1 span:nth-child(3) {
  -webkit-animation-delay: -0.26666s;
  animation-delay: -0.26666s;
  background: rgba(41, 103, 230, 1);
}

.loader1 span:nth-child(4) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  background: rgba(41, 103, 230, 0.8);
}

.loader1 span:nth-child(5) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background: rgba(41, 103, 230, 0.4);
}

@keyframes loader1 {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}

@-webkit-keyframes loader1 {
  from {
    -webkit-transform: scale(0, 0);
  }
  to {
    -webkit-transform: scale(1, 1);
  }
}

/*=========================================
            28. BLOG PAGE CSS
============================================*/
.row-post-thumbnail .post {
  border: 0;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.post {
  border-bottom: 1px solid #f0f0f0;
  padding: 0 0 35px;
  margin: 0 0 45px;
}

.post-preview {
  padding-bottom: 5px;
  border-radius: 0.1875rem;
  transition: all 0.3s ease-in-out;
}

.post-preview img {
  border-radius: 0.1875rem;
  width: 100%;
  display: block;
}

.post-header {
  margin: 15px 0 20px;
}
.post-header .post-title {
  font-size: 1.5625rem;
  margin-bottom: 0;
  color: #333333;
}
.post-header .post-title a {
  color: #5d5d5d;
}
.post-header .post-title a:hover {
  color: #e80566;
}
.post-meta {
  list-style: none;
  font-size: 0.8125rem;
  padding: 0;
  margin: 0;
}
.post-meta a,
.post-meta li {
  color: #495057;
  opacity: 0.8;
}
.post-meta a:hover {
  color: #e80566;
  opacity: 1;
}
.post-meta > li {
  position: relative;
  display: inline-block;
  padding: 0 14px 0 0;
  margin: 0 14px 0 0;
}

.post-meta > li:not(:last-child):after {
  position: absolute;
  content: '/';
  right: -5px;
  top: 0;
}

.post-content p {
  margin-bottom: 5px;
}
.post-more a span {
  vertical-align: middle;
}

.post-footer {
  margin-top: 15px;
}

/*blog single css*/
.post-content blockquote {
  border-left: 2px solid #eaeaea;
  padding: 10px 0 10px 40px;
  margin: 40px 0;
  transition: all 0.3s ease-in-out;
}
.post-content blockquote:hover {
  border-color: #e80566;
}
.blockquote {
  font-weight: 500;
  color: #222;
}
.post-content ol {
  list-style-type: decimal;
}
.post-content ul,
.post-content ol {
  margin: 15px 0 15px 40px;
}

/*comments css*/
.comment,
.comment-shop {
  border-bottom: 1px solid #f0f0f0;
  padding: 30px 0 0;
}
.comment-author,
.comment-author-shop {
  margin: 5px 0 0;
  height: 64px;
  width: 64px;
  float: left;
}

.comment-body,
.comment-body-shop {
  position: relative;
  padding: 0 0 30px;
  margin: 0 0 0 85px;
}
.comment-meta,
.comment-meta-shop {
  margin: 0 0 15px;
}
.comment-meta-date {
  font-size: 13px;
}
.children > .comment,
.children > .comment-shop {
  border: 0;
  border-top: 1px solid #f0f0f0;
  margin-left: 85px;
}
.comment-meta-author a,
.comment-meta-author-shop a {
  font-weight: 500;
  color: #222;
}
.comment-meta-date a,
.comment-meta-date-shop a {
  color: #788487;
  opacity: 0.6;
}
.comment-meta-date a:hover,
.comment-meta-date a:focus,
.comment-meta-date-shop a:hover,
.comment-meta-date-shop a:focus {
  color: #1a2c79;
  opacity: 1;
}

.comment-reply,
.comment-reply-shop {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 13px;
}

.comment-reply > a,
.comment-reply-shop > a {
  background: #f4f4f4;
  border-radius: 0.1875rem;
  padding: 5px 15px;
  display: block;
  color: #222;
}
.comment-reply > a:hover,
.comment-reply > a:focus,
.comment-reply-shop > a:hover,
.comment-reply-shop > a:focus {
  background: #e80566;
  color: #fff;
}

.comment-list + .comment-respond,
.comment-list-shop + .comment-respond {
  margin-top: 30px;
}

/*pagination*/
.custom-pagination-nav ul li {
  text-align: center;
  margin-right: 10px;
}
.custom-pagination-nav ul li:focus,
.custom-pagination-nav ul li a:focus {
  outline: none;
  box-shadow: none;
}
.custom-pagination-nav ul li a.page-link {
  width: 35px;
  height: 35px;
  line-height: 33px;
  border-radius: 100%;
  padding: inherit;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #1a2c79;
}
.custom-pagination-nav ul li a.page-link:hover {
  background: #e80566;
  color: #ffffff;
}
.custom-pagination-nav ul li.page-item:first-child .page-link,
.custom-pagination-nav ul li.page-item:last-child .page-link {
  border: none;
  background: transparent;
}
.custom-pagination-nav ul li.page-item:first-child .page-link:hover,
.custom-pagination-nav ul li.page-item:last-child .page-link:hover {
  color: #e80566;
}
.custom-pagination-nav ul li.page-item.active .page-link {
  background-color: #e80566;
  border-color: #e80566;
}
/*blog sidebar*/

.widget-search {
  padding: 0;
  border: 0;
}
.widget {
  margin-bottom: 50px;
}
.widget-search form {
  position: relative;
}

.widget-search .search-button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  height: 100%;
  right: 0.875rem;
  transform: translateY(-50%);
  transition: all 0.3s ease-out;
  color: #ddd;
}
.widget-search .search-button span {
  font-size: 20px;
  line-height: 32px;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
.widget .widget-title {
  margin-bottom: 24px;
}

.widget .widget-title > h6 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 12px;
  margin: 0;
  color: #788487;
}
.widget ul {
  margin-bottom: 0;
}
.widget-categories ul li:first-child,
.widget-recent-entries ul li:first-child,
.widget-recent-entries-custom ul li:first-child {
  padding-top: 0;
}
.widget-categories ul li,
.widget-recent-entries ul li,
.widget-recent-entries-custom ul li {
  border-bottom: 1px solid #f0f0f0;
  padding: 10px 0;
  margin: 0;
}
.widget a {
  color: #788487;
  display: block;
  font-size: 14px;
}
.widget a:hover {
  color: #e80566;
}
.widget-recent-entries-custom .wi {
  float: left;
  width: 80px;
}
.widget-recent-entries-custom .wb {
  padding-left: 16px;
  width: 100%;
}
.widget-recent-entries-custom .wi,
.widget-recent-entries-custom .wb {
  vertical-align: middle;
  display: table-cell;
}
.post-date {
  font-size: 13px;
  color: #a3a6a8;
  display: block;
  margin: 0;
}
.tag-cloud > a,
.post-tags > a {
  background: #f4f4f4;
  border-radius: 0.1875rem;
  position: relative;
  display: inline-block;
  padding: 6px 15px;
  margin: 5px 8px 5px 0;
  text-transform: uppercase;
  font-size: 10px !important;
  color: #222;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
.tag-cloud > a:hover,
.post-tags > a:hover {
  background: #1a2c79;
  color: #fff;
  opacity: 1;
}

/*=========================================
            29. BACK TO TOP CSS
============================================*/
button.scroll-top:focus {
  outline: none;
}
.scroll-top.open {
  bottom: 30px;
}

.scroll-top {
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: fixed;
  bottom: 105%;
  right: 50px;
  font-size: 16px;
  border-radius: 50%;
  z-index: 99;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  background: #1a2c79;
  transition: 1s ease;
  border: none;
}
.scroll-top span {
  color: #fff;
}

.scroll-top:after {
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 1;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0) 80%
  );
}

/*new css new update*/
.full-screen {
  min-height: 100vh;
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-wrap h2,
.countdown-wrap h5 {
  color: #fff !important;
}

/*404 page*/
.error-content .notfound-404 {
  position: relative;
  height: 280px;
  z-index: 2;
  margin-bottom: 30px;
}
.error-content .notfound-404 h1 {
  font-size: 230px;
  font-weight: 700;
  margin: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-size: cover;
  background-position: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  .error-content .notfound-404 {
    height: auto;
    display: block;
    position: relative;
  }
  .error-content .notfound-404 h1 {
    font-size: 80px;
    position: relative;
  }
}

/*login css*/
.login-signup-content {
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-signup-wrap h1 {
  font-size: 35px;
}

.vh-100 {
  height: 100vh !important;
}

.bg-cover {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.ml-n3,
.mx-n3 {
  margin-left: -0.98rem !important;
}
.small,
small {
  font-size: 90%;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #95aac9;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #d2ddec;
  border-radius: 0.375rem;
}
.form-control:focus {
  border-color: #1a2c79;
}
.btn.border-radius {
  border-radius: 4px;
}
.login-signup-form .form-group {
  position: relative;
}
.login-signup-form .form-group label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 90%;
}
.login-signup-form .form-group .input-group.input-group-merge > .form-control {
  text-indent: 35px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: calc(2.65em + 0.75rem + 2px);
}
.login-signup-form
  .form-group
  .input-group.input-group-merge
  > .form-control:focus {
  z-index: inherit;
}

.input-icon {
  height: calc(3.4rem + 2px);
  position: absolute;
  z-index: 2;
  display: block;
  width: 40px;
  top: 0;
  bottom: 0;
  left: 0;
}

.input-icon span {
  padding: 18px 15px;
  border-left: 2px solid #1a2c79;
  position: absolute;
  font-size: 18px;
  height: calc(3.4rem + 2px);
  border-radius: 4px;
  color: #afafaf;
}

/*login signup new style*/
.login-signup-card {
  position: relative;
  z-index: 2;
}
.custom-control-label {
  line-height: 1.5;
}

.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}

/*testimonial author*/
.author-info {
  display: flex;
  align-items: center;
}

/*subscribe form two*/
.subscribe-form-footer.subscribe-form-two {
  top: 0;
}
