.text-yellow {
  color: #ffc000;
}

.text-blue {
  color: #1a2c79;
}

.presentation-navbar {
  background-image: linear-gradient(
    45deg,
    rgba(26, 44, 121, 0.9) 10%,
    rgba(181, 15, 107, 0.9)
  );
  padding: 0px !important;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.navbar-links {
  color: #fff !important;
  font-size: 14px !important;
}

.text-xl {
  font-size: 30px !important;
}

.text-big {
  font-size: 24px !important;
}

.text-medium {
  font-size: 20px !important;
}

.text-small {
  font-size: 18px !important;
}

.text-smaller {
  font-size: 16px !important;
}

.styled-table {
  border-collapse: collapse;
  margin: 50px 0;
  font-size: 1.15em;
  font-family: sans-serif;
  min-width: 800px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #f2d18b;
  text-align: left;
}

.styled-table thead th:last-of-type {
  background-color: #f5dca8;
  padding: 0px 0px 0px 15px;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #ffc000;
  background-color: #dadde9;
}

.styled-table tbody tr.sum-row {
}

.pt-50 {
  padding-top: 50px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1.5em 5em;
  padding: 0;
}

.plan-text {
  color: black;
  font-size: 1.05em;
}

.plan-subtext {
  font-size: 1.05em;
}

.analysis-container {
  height: 100%;
  padding-top: 7%;
}

.analysis-subheader {
  margin-top: 40px;
  margin-bottom: 15px;
}

.logo-agc {
  height: 30px;
}

.gotop-button {
  position: absolute;
  bottom: 30px;
  right: 65px;
}

/* ------------- !!! LANGUAGE CONTROLS !!! ----------------- */

@media (max-width: 991px) {
  .lang_switcher {
    margin: auto; /* to center its items */
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.7rem;
  }
}

@media (min-width: 992px) {
  .lang_switcher {
    margin-left: 50px;
  }
}

.lang {
  background: none;
  border: none;
  /* add !important to completely remove the selection border */
  outline: none !important;
  /* fixes issues with empty space under the images */
  vertical-align: top;
  font-size: 0;
}

.lang_image {
  margin-top: -1px;
  height: 28px;
  -webkit-filter: drop-shadow(1px 1px 1px #222);
  filter: drop-shadow(1px 1px 1px #222);
}
