.logo-agc {
  height: 30px;
}

.project-company {
  font-size: 30px;
  color: white;
  margin-left: 5px;
}

@media (min-width: 992px) {
  .project-company {
    margin-bottom: -20px;
  }
}

.project-title {
  font-size: 50px;
  color: white;
}

.ptb-150 {
  padding-top: 150px;
  padding-bottom: 150px;
}

.pt-100 {
  padding-top: 100px;
}

.text-medium {
  font-size: 20px !important;
}

@media (min-width: 992px) {
  .services-section {
    height: 900px;
  }
}

/* ------------- !!! LANGUAGE CONTROLS !!! ----------------- */

@media (max-width: 991px) {
  .lang_switcher {
    margin: auto; /* to center its items */
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.7rem;
  }
}

@media (min-width: 992px) {
  .lang_switcher {
    margin: 15px;
  }
}

.lang {
  background: none;
  border: none;
  /* add !important to completely remove the selection border */
  outline: none !important;
  /* fixes issues with empty space under the images */
  vertical-align: top;
  font-size: 0;
}

.lang_image {
  margin-top: -1px;
  height: 28px;
  -webkit-filter: drop-shadow(1px 1px 1px #222);
  filter: drop-shadow(1px 1px 1px #222);
}
